body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass-card {
  width: 350px;
  padding: 40px;

  background: linear-gradient(
    145deg,
    rgba(255,255,255,0.15),
    rgba(255,255,255,0.05)
  );

  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(30px) saturate(200%);

  border-radius: 24px;
  border: 1px solid rgba(255,255,255,0.2);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.4);

  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}
.fade-in {
  animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.input-group {
  position: relative;
}

.input-group input {
  width: 90%;
  padding: 16px;
  border-radius: 16px;

  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.2);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  color: white;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}
.input-group label {
  position: absolute;
  left: 16px;
  top: 16px;
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  left: 12px;
  font-size: 12px;
  padding: 0 6px;
  background: rgba(15,23,42,0.9);
  border-radius: 6px;
  color: #38bdf8;
}
.input-group input:focus {
  border: 1px solid rgba(56,189,248,0.8);

  box-shadow:
    0 0 0 2px rgba(56,189,248,0.3),
    0 0 25px rgba(56,189,248,0.4);
}
.glass-button {
  padding: 14px;
  border-radius: 16px;
  border: none;

  background: linear-gradient(
    135deg,
    #38bdf8,
    #0ea5e9
  );

  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.glass-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 25px rgba(56,189,248,0.6);
}
.error {
  color: #f87171;
  text-align: center;
  font-size: 14px;
}

.title {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 38%;
}
